
/*Header and nav for all pages (made by Yerke)*/
.header{
    background-color: #f5f5f7;;
    width:100%;
    display:flex;
    height: 8vh;
    vertical-align: top;
    justify-content: center;
}

.nav{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    align-items:center;
}

.nav ul li a {
    background-color:white;
    border-bottom: 3px solid white;
    font-size: 18px;
    color: black;
    width: 10vw;
    padding: 2px;
    margin-left: 20px;
    display: block;
    color: black;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li a:hover{
    border-bottom: 3px solid orange;
    color:orange;
}

.logo{
    max-width: 100%;
    height: auto;    
    padding:0;
    margin: auto;
    height: 50px;
}



/*Homepage or page 1 (Made by Yerke)*/

.welcome-sign{
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    color:  black;
    margin-bottom: 20px;
}
.welcome-sign img{
    width: auto;
    height: 30vh;
    top:0;
    margin-top:5%;
}
.welcome-sign h1, h2{
    font-size: 32px;
    margin-top: 20px;
}
.button-link{
    font-size: 24px;
    color: white;
    text-decoration: none;
    align-content: center;
    text-align: center;
    height: 60px;
    width: 120px;
    background-color: #06c;
    border-radius: 50px;
    margin-bottom: 30px;
}
.button-link:hover{
    background-color: lightgray;
    color:black;
}

.banner{
    display: flex;
    width: 100%;
    height:auto;
    margin-bottom: 20px;
}
.inter-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width:100%;
    background-color:white;
    margin-bottom: 20px;
}
.inter-banner > h1{
    margin-top:20px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 500;
    color: black;
}

.card{
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    text-align: center;
    width: 48%;
    margin:auto;
    min-height: 480px;
}
.card img{
    background-color:#fbfbfd;
    margin:auto;
    width: 300px;
    height: 300px;
}
.card h1{
    color:black;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}
.card p{
    color:black;
    margin-top: 2px;
    text-align: center;
    font-size: 16px;
}

/*Cart page (made by Yerke)
Absolutely have no idea what to do here, so I will just make some templates*/

.cart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
}

.cart-item{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:0;
    background-color:#fbfbfd;
}

.checkout{
    display: flex;
    position: sticky;
    bottom:0;
    background-color: white;
    align-content:center;
    flex-direction: row;
    justify-content: end;
    width:100%;
    height:10vh;
}

.nothing-in-cart{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    width:100%;
    min-height:60vh;
    background-color:#fbfbfd;
}